body{
    text-align: center;
    font-family: Verdana;
    color: red;
}

#Container{
    text-align: center;
<<<<<<< HEAD
    font-family: 'Times New Roman';
    color: red;
=======
    font-family: Arial;
    color:red;
}

#Cuerpo{
    text-align: center;
    font-family: Arial;
    color:blue;
>>>>>>> desarrollo
}