body{
    text-align: center;
    font-family: Verdana;
    color: red;
}

#Cabecera{
    width: 100%;
    position: relative;
    background-position-x: 172px;
    border: 1px solid black;
}

#Container{
    text-align: center;
    font-family: Arial;
    color:red;
}

#Cuerpo{
    text-align: center;
    font-family: Arial;
    color:blue;
}